body {
    margin : 0;
    padding : 0;
    font-family: 'Inconsolata', monospace;
    overflow-y : scroll;
}

.wrapper{       
        padding : 0;
        padding-top : 100px;
        padding-bottom : 100px;
        min-height : 100vh;
        box-sizing: border-box;
}

input, textarea{
    font-family: 'Inconsolata', monospace;
}

.load-bar-container{
    /*width : 100%;
    top:0;
    left : 0;
    position : fixed;*/
    /*margin-bottom : -5px;*/
}

.load-bar {
    height: 5px;
    /* opacity: .5; */
    max-width: 100%;
    transition : .3s;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.editor {
    padding: 50px 50px;
    background-color: white;
    /* margin: 100px; */
    min-height : 300px;
    margin: 0px auto;
    cursor : text;
}

.wrapper.blurry {
     filter: blur(5px);
}

.editor .textarea {
    width : 100%;
    font-size : 18px;
    line-height : 2;
    box-sizing: border-box;
    resize:none;
    outline : none;
    border : 1px solid transparent;
    overflow: hidden;

}

.save-button {
    padding: 10px 15px;
    position: fixed;
    background-color: white;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-family: monospace;
    color: #ccc;
    cursor: pointer;
}

.save-button:hover{
    color : black;
}

.modal-container {
    position : fixed;
    top:0;
    left:0;
    bottom : 0;
    right : 0;
    z-index : 200;
    display : flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color : #efefef;
    text-align : center;
}

.modal .title, .modal .body{
    padding : 20px;
}

.modal .title, .modal .foot{
    font-size : 20px;
    color : white;
    background-color: #a0a0a0;
}

.modal .foot{
    display : flex;
}

.modal .body{
    padding : 30px 60px;
    padding-bottom : 60px;
}

.modal .body>div{
    margin-top : 30px;
    color : #222;
}

.modal input {
    display : block;
    margin : 10px;
    padding : 15px;
    font-size : 20px;
    outline : none;
    border : none;
    background-color: white;
    color : #a0a0a0;
    width : 300px;
}

.modal .foot>div {
    background-color : #69b784;
    cursor : pointer;
    padding : 20px;
    flex:1;
}

.modal .foot>div:hover{
    background-color : #589a6f;
}

.modal .foot>div.dropBox {
    background-color : #75bdef;
}

.modal .foot>div.dropBox:hover{
    background-color : #649ec5;
}

.options-block{
    display : inline-block
}

.options-line{
    background-color: white; 
    padding : 10px;
    display:inline-block;
}

.options-container {   
    margin-top : 10px;
}

.options-container .container{
        text-align : right;
}

.options-item, .select-title, .option-link{
    opacity : .5;
    display : inline-block;
    cursor : pointer;
    margin-left : 10px;
    text-decoration : none;
    color : black;

    input{
        border : none;
        padding : 0;
        color : inherit;
        font-family: inherit;
        font-size: inherit;
        width : auto;
        display : inline-block;
        outline : black;
    }
}

.options-item.nomargin{
    margin : 0;
}

.options-item.on, .option-link:hover, .select-item.selected, .select-item:hover, .select-title , .select-title:hover{
    opacity : 1;
}

.toaster-container {
    position:  fixed;
    top: 0;
    left: 0;
    right: 0;

    .r{
        text-align : right;
    }
}

.toaster {
    background-color: #ccc;
    padding: 15px;
    margin: 10px 10px;
    display: inline-flex;


    .message {
        flex: 1;
        padding-right: 20px;
    }

    .close {
        opacity: .5;
        cursor:  pointer;
    }

    .close:hover {
        opacity: .9;
    }

    &.success{
        background-color : #59bd91;
        color : white;
    }
}




// Styles

.wrapper.minimal{
 background-color : #eee;
     .load-bar {
        background-color: #aaa;
    }
}

.wrapper.green{
 background-color : #4caf50;
    .load-bar {
        background-color: #347737;
    }
}

.wrapper.paper{
    background: url("/assets/img/paper.png");
    .load-bar {
        background-color: #aaa;
    }
}

.wrapper.flowers{
    background: url("/assets/img/flowers.jpg");
    .load-bar {
        background-color: #cde8e4;
    }
}

.wrapper.picnick{
    background: url("/assets/img/picnick.jpg");
    background-size: 30%;
    .load-bar {
        background-color: #fd7d7d;
    }
}

.wrapper.ocean{
    background: #76a5eb;
    background-size: 30%;
    .load-bar {
        background-color: #2968a0;
    }
}

.wrapper.forest{
    background: #2ECC40;
    background-size: 30%;
    .load-bar {
        background-color:#3D9970
    }
}

.wrapper.banana{
    background: #d7ba35;
    background-size: 30%;
    .load-bar {
        background-color: #FF851B;
    }
}
